:root {
  --toggle-size: 1rem;
  --switch-w: 4em;
  --switch-h: 2em;
  --switch-handle-scale: 0.65;
  --switch-off-handle-x: -0.125em;
  --switch-on-handle-x: calc(100% - 0.125em);
  --switch-transition-duration: 0.2s;
  --header-height: 3rem;
  --first-color: #67b0d1;
  --dark-color: #070d1f;
  --white-color: #e6e7e9;

  --dark-black: #222222;
  --light-white-1: #ffffff;
  --light-white-2: #919191;
  --light-grey-1: #7d7d7d;

  --dark-black-2: #030812;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}

#theme-toggle {
  display: none;

  & + label {
    font-size: var(--toggle-size);
    display: flex;
    height: var(--switch-h);
    width: var(--switch-w);
    border-radius: calc(var(--switch-h) / 2);
    background-size: auto 8em;
    background-position: bottom;
    background-image: linear-gradient(
      180deg,
      #021037 0%,
      #20206a 19%,
      #4184b1 66%,
      #62e7f7 100%
    );
    transition: var(--switch-transition-duration);
    border: 0.125em solid hsl(207, 30%, 95%);
    overflow: hidden;

    span {
      background: #fffad8;
      border-radius: 50%;
      height: var(--switch-h);
      width: var(--switch-h);
      transform: translateX(var(--switch-off-handle-x))
        scale(var(--switch-handle-scale));
      transition: var(--switch-transition-duration);
      cursor: pointer;
      box-shadow: 0 0 0.25em 0.0625em #fbee8d, 0 0 2em 0 #ffeb3b,
        inset -0.25em -0.25em 0 0 #fbee8e,
        inset -0.3125em -0.3125em 0 0.625em #fff5b2;
      margin-top: var(--switch-off-handle-x);
    }
  }

  &:checked {
    font-size: var(--switch-font-size);

    & + label {
      background-position: top;
      border-color: hsl(207, 30%, 50%);

      span {
        background: transparent;
        transform: translateX(var(--switch-on-handle-x))
          scale(var(--switch-handle-scale));
        box-shadow: inset -0.1875em -0.1875em 0 0 #fbe7ef,
          inset -0.5625em -0.5625em 0 0 #fffff7;
      }
    }
  }
}

/*===== START ABOUT =====*/

.about {
  background-size: cover;
  padding: 1rem 0;
  position: relative;
  .container {
    position: relative;
    z-index: 10;
  }
  .content {
    // padding: 10px 30px 30px 0;
    h3 {
      font-weight: 700;
      font-size: 34px;
      color: #2f4d5a;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
    .about-btn {
      display: inline-block;
      background: #67b0d1;
      padding: 6px 44px 8px 30px;
      color: #fff;
      border-radius: 50px;
      transition: 0.3s;
      position: relative;
      i {
        font-size: 18px;
        position: absolute;
        right: 18px;
        top: 9px;
      }
      &:hover {
        background: #7bbad7;
      }
    }
  }
  .icon-boxes {
    .icon-box {
      margin-top: 30px;
      i {
        font-size: 40px;
        color: #67b0d1;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 10px 0;
      }
      p {
        font-size: 15px;
        color: #848484;
      }
    }
  }
}
/*===== END ABOUT =====*/

/*===== MENU CONTENT =====*/
#cards_landscape_wrap-2 {
  a {
    outline: none;
  }
  .card-flyer {
    border-radius: 5px;
    background: #ffffff;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    .image-box {
      background: #ffffff;
      overflow: hidden;
      border-radius: 5px;
      img {
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        width: 100%;
        height: 200px;
      }
    }
    &:hover {
      .image-box {
        img {
          opacity: 0.7;
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15);
          transform: scale(1.15);
        }
      }
      background: #fff;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
  }
}
/*===== END CONTENT =====*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
#icon {
  width: 20px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
.desktop {
  .nav__perfil {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    img {
      max-width: 100%;
    }
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
    display: flex;
  }
  .nav__link {
    color: var(--dark-color);
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
    &:hover {
      background-color: var(--white-color);
      text-decoration: none;
    }
  }
  .active {
    color: var(--first-color);
    font-weight: 600;
  }
}

.app-bar {
  box-shadow: 0 0px 32px -4px rgba(0, 0, 0, 0.15);
}
.light-mode {
  header {
    box-shadow: 0 0px 32px -4px rgba(0, 0, 0, 0.15);
    background-color: var(--light-white-1);
    // .nav__link {
    //   color: var(--light-white-1);
    // }
  }
}

.dark-mode {
  header {
    box-shadow: 0 0px 32px -4px rgba(0, 0, 0, 0.15);
    background-color: var(--dark-black-2);

    .nav__item {
      .active {
        color: var(--white-color);
        font-weight: 600;
      }
      .nav__link {
        color: var(--light-white-2);
        &:hover {
          background-color: var(--dark-black);
          text-decoration: none;
          color: var(--white-color);
        }
      }
    }
  }
}
